@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  box-sizing: 0;
  margin: 0;
  padding: 0;

}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #383838));
  background: linear-gradient(to right, white 50%, #383838 50%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 68vh;
  max-width: 1000px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}
div > * {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 68vh;
  max-width: 500px;
  width: 100%;
  padding: 2.5rem;
}

aside {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%;
}
aside img {
  display: block;
  height: auto;
  width: 100%;
}

main {
  text-align: center;
}
main h1 {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 4rem;
  color: #F2D100;
  margin-bottom: 1rem;
}
main p {
  margin-bottom: 2.5rem;
}
main p em {
  font-style: italic;
  color: #F2D100;
}
main button {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 1rem;
  color: #383838;
  border: none;
  background-color: white;
  padding: 1rem 2.5rem;
  -webkit-transform: skew(-5deg);
          transform: skew(-5deg);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
main button:hover {
  background-color: #F2D100;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media (max-width: 700px) {
  body {
    background: #383838;
    font-size: 16px;
  }

  div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
  }
  div > * {
    max-width: 700px;
    height: 80%;
  }

  aside {
    background-image: none;
    background-color: white;
  }
  aside img {
    max-width: 300px;
  }
}
